<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.
We will show how create markdown cells, places titles, make list and create tables. We will also show how to enter an arithmetic expression, how to place codes to multiply and add numbers, finally we will convert minutes to hours and upload the notebook to GitHub.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
- List popular languages for Data Science
- List the commonly used libraries used by Data Scientists
- Name the most common Data Science Tools

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. R / R Studio
3. SQL
4. Julia

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn
4. TensorFlow
5. PyTorch
6. tidyverse
7. ggplot2
8. caret

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|---|
|JupyterLab|
|Visual Studio Code|
|R Studio|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python
- 257 + 345
- 38 - 21
- 842 * 429

**Exercise 8 - Create a code cell to multiply and add numbers**

In [5]:
(10 * 12 * 14 * 16 * 18 * 20) + 555
#This a simple arithmetic expression to mutiply then add integers

9677355

**Exercise 9 - Create a code cell to convert minutes to hours**

In [7]:
7469/60
#This will convert 7469 minutes to hours by diving by 60

124.48333333333333

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Marlon Marrugo Julio